<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CRM Test">
  <test thread-count="5" name="regression">
  
  <parameter name="username" value="Speedway2016"></parameter>
  <parameter name="password" value="Speedway@2016"></parameter>
    <classes>
      <class name="tests.HomePageTest"/>
      
    </classes>
  </test> <!-- regression -->
</suite> <!-- CRM Test -->
